.filter__label_disabled,
.filter_disabled,
.filter__card_disabled {
  display: none;
}

.filter__header-item:nth-child(1) .filter__input::before {
  content: "Популярность запросов";
}

.filter__header-item:nth-child(2) .filter__input::before {
  content: "Тренд";
}

.filter__header-item:nth-child(3) .filter__input::before {
  content: "Количество предложений";
}

.filter__header-item:nth-child(4) .filter__input::before {
  content: "Конкуренция";
}

.filter-form {
  position: fixed;
  top: 7vh;
  left: 0px;
  z-index: 100;
  cursor: pointer;
}

.filter {
  padding-bottom: 8px;
  &::after {
    margin-top: 21px;
  }
}

// popularity slider ---- S T A R T
.slider__wrapper {
  & .slider__scroll {
    margin-bottom: 20px;
    margin-top: 33px;
  }

  & .slider__input-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 3.96%;
    margin-bottom: 20px;

    & > input[type='text'] {
      height: 50px;
      width:  48.02%;//170px;  /*48.02%;*/
      padding: 14px 20px;
      border-radius: 5px;
      border: 1px solid #ebebeb;
      background-color: #F0F1F5;
      box-sizing: border-box;
      font-family: 'Jost', Arial, Helvetica, sans-serif;
      font-size: 15px;
      line-height: 22px;
      color: #42494F;
    }
  }

// -----------------------------------
  & .noUi-tooltip {
    font-family: 'Jost', Arial, Helvetica, sans-serif;
    color: #42494F;
    font-size: 15px;
    line-height: 22px;
    padding: 0px 6px;
    background-color: #ebebeb;
    border-radius: 3px;
    border: none;
  }
  
  & .noUi-horizontal {
    height: 6px;
  }
  & .noUi-horizontal .noUi-handle {
    width:13px;
    height: 13px;
    right: -7px;
    top: -3px;
    
  }
  & .noUi-handle.noUi-handle-upper::after,
  & .noUi-handle.noUi-handle-upper::before,
  & .noUi-handle.noUi-handle-lower::after,
  & .noUi-handle.noUi-handle-lower::before {
    height: 5px;
    background-color: rgba(255, 255, 255, 0.3);
    top: 4px;
    left: 5px;
  }
  
  & .noUi-handle.noUi-handle-upper::after,
  & .noUi-handle.noUi-handle-lower::after {
    left: 7px;
  }
  & .noUi-target {
    background-color: #ebebeb;
    border-radius: 20px;
    border: none;
    box-shadow: none;
  }
  & .noUi-connects {
    border-radius: 20px;
  }
  & .noUi-connect {
    background-color: #0A6BE5;
    box-shadow: 0px 2px 4px rgba(0,0, 0, 0.1);
  }
  & .noUi-handle {
    background-color: #0A6BE5;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 2px 4px rgba(0,0, 0, 0.1);
  }
}

// trend slider ---- - - E N D
.trend-filter__content-wrapper{
  border-color: $border-line;
  border-radius: 5px;
}

.trend-filter__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 14px;

  & > label {
    @include text-J-300-17-25;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
  }

  & > label > input[type='radio'] {
   appearance: none;
   margin: 0;

   &::before {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    // margin-right: 20px;
    border-radius: 50%;
    background-color: $hover;
   }

   &:checked::before {
    outline: 5px solid $text-bgd-1;
    outline-offset: -5px;
   }
  }
}
// trend slider ---- S T A R T
