.main-header *:not(.main-header__menu *) {
  @include lineout(limegreen);
}

.main-header {
  box-shadow: none;
}

.main-header_shadow {
  // background-color: $text-bgd-2;
  box-shadow: '0px 5px 13px 4px rgba(0, 0, 0, 0.09)';
}

.main-header__nav {
  background-color: magenta;
  &.container {
    padding: 0; 
  }
}

.main-header__top-menu {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 7px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: $text-bgd-2;
}

.main-header__menu {
  position: relative;
  z-index: 0;
  padding-top: 20px;
  border-radius: 0 0 10px 10px ;
  background-color: powderblue;
  background-color: $text-bgd-2;
  box-shadow: 0px 5px 13px 4px rgba($color:black, $alpha: 0.01);
}

.main-header__logo {
  display: block;
  margin-right: auto;
}

.main-header__login {
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0px;
  width: 30px;
  height: 30px;
  background-image: url('../img/icon-login.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 18px;
}
.main-header__login_hide {
  display: none;
}

.site-nav_show {
  display: block;
  border: none;
  padding: 0;
  margin: 0;
  width: 26px;
  height: 16px;
  background-color: transparent;
  background-image: url('../img/burger.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

}

.site-nav_hide {
  background-image: url('../img/close.svg');
  width: 1.125rem;
  height: 1.125rem;
}


.main-header__menu_hide {
  display: none;
}

.main-header__account-data {
  margin-top: 0px;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}

.main-header__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
  padding-bottom: 49px;
}

.main-header__menu-item {
  width: max-content;
  padding: 10px 20px;
  border: 1px solid $main-headings;
  border-radius: 100px;
}

.main-header__menu-link {
  @include text;
  font-size: 0.9375rem;
  line-height: 1.466666667em;
  color: $main-headings;
}


@media (min-width: $tablet-width) {
  .main-header__nav.container {
    padding: 0 57px;
  }

  .main-header__nav {
    display: flex;
    flex-direction: row;
    padding-top: 17px;
    padding-bottom: 16px;
    background-color: $text-bgd-2;
    box-shadow: 0px 5px 13px 4px rgba($color:black, $alpha: 0.01);
  }

  .site-nav_show {
    display: none;
  }

  .main-header__login {
  }
  .main-header__menu {
    display: flex;
    padding: 0px 0px;
    border-radius: 0px;
    box-shadow: none;
  }

  .main-header__account-data {
    order: 0;
    margin-bottom: 0px;
  }
  .main-header__menu-list {
    flex-direction: row;
    order: -1;
    padding-bottom: 0px;
  }

  .main-header__menu-item {
    padding: 0px;
    border: none;
  }

  .main-header__menu-link {
    @include text-J-400-19-27;
    padding: 10px 15px;
    border: none;
    border-radius: 100px;

    &:active,
    &:focus {
      outline: 1px solid $main-headings;
      outline-offset: -1px;
    }

    &:hover {
      background-color: $hover;
    }
  }

}






@media (min-width: $desktop-width) {
  .main-header__nav.container {
    padding: 0 135px;
  }
}