.promo__title {
  font-family: 'NordecoCyrillic';
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2em;
  color: #0A6BE5;
}

.promo__item {
  font-family: 'Jost';
  font-weight: 300;
  font-size: 17px;
  line-height: 1.2em;
  color: red;
  
}
