.requests-table * {
  @include lineout(springgreen);
  @include lineout(transparent);
}

.requests-table {
  background-color: $bg; //можно убрать, когдадобавитсья планшет и пк
  margin-bottom: 42px;

}

// .requests-table__wrapper {
  
// }

.requests-table__header {
  margin: 0 auto;
}



.requests-table__footer{
  display: none;
}

// .pagination {
// }
// .btn-share {
// }