@font-face {
                font-family: 'Jost';
                font-display: swap;
                src: url("../fonts/Jost-Light.ttf") format('truetype');
                font-weight: 300;
                font-style: normal;
            }
@font-face {
                font-family: 'Jost';
                font-display: swap;
                src: url("../fonts/Jost-Regular.ttf") format('truetype');
                font-weight: 400;
                font-style: normal;
            }
@font-face {
                font-family: 'NordecoCyrillic';
                font-display: swap;
                src: url("../fonts/NordecoCyrillic-Regular.ttf") format('truetype');
                font-weight: 400;
                font-style: normal;
            }
@font-face {
                font-family: 'NordecoCyrillic';
                font-display: swap;
                src: url("../fonts/NordecoCyrillic-SemiBold.ttf") format('truetype');
                font-weight: 600;
                font-style: normal;
            }
