// viweports
$mobile-width: 414px; //767px; 
$tablet-width: 1024px; //768px;
$desktop-width: 1440px;
// min-width: 320px;

/**
  @media (min-width: $tablet-width) {}
  @media (min-width: $desktop-width) {}

*/
html {
  height: 100%;
  @include text;
}

body {
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  
  font-size: 16px;
  color: $main-headings;
  background-color: $bg; //ivory; 

  @media (min-width: $tablet-width) {
    font-size: 1.143em;
    line-height: 1.2em;
  }
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: black;
}

ul, ol {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}

h1, h2, h3, h4 {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.container {
  outline: 1px solid peachpuff;
  outline-offset: -1px;

  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 0 57px;
  }

  @media (min-width: $desktop-width) {
    padding: 135px;
  }
}
.hide {
  display: none;
}
