@mixin lineout ($color: darkorange){
	outline: 1px dashed $color;
	// outline: 1px dashed transparent;
	outline-offset: -1px;
	// background-color: rgba(70, 130, 180, 0.5);
}

@mixin headline {
	font-family: 'NordecoCyrillic', sans-serif;
	font-weight: 600;
	font-size: 1.75em;
	line-height: 1.25em;
}

@mixin headline-2 {
	font-family: 'NordecoCyrillic', sans-serif;
	font-weight: 400;
	font-size: 1.75rem;
	line-height: 1.25em;
}


@mixin text {
	font-family: 'Jost', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.2em;
}

@mixin buttons-links {
	font-family: 'Jost', sans-serif;
	font-weight: 400;
	font-size: 1.07em;
	line-height: 1.445em;	
}

@mixin horisonal-scroll {
	display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
}
