$text-bgd-1: #0A6BE5;
$main-headings: #1D1E20;
$texts: #42494F;
$additional-texts: #9AA3AF;
$bg: #F9FAFC;
$hover: #F0F1F5;
$strock: #EBEBEB;
$text-bgd-2: #ffffff;
$positive: #E93A45;
$negative: #14C784;